{% macro alert(text, className) %}
    <div class="yt-alert yt-alert-default {{ className }}">
        <div class="yt-alert-icon"><img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="icon master-sprite" alt="Alert icon" /></div>
        <button class="close yt-uix-close" data-close-parent-class="yt-alert"type="button"><span class="yt-uix-button-content">Close</span></button>
        <div class="yt-alert-content">
            <span class="yt-alert-vertical-trick"></span>
            <div class="yt-alert-message">{{ text }}</div>
        </div>
    </div>
{% endmacro %}

{% macro create_pager(pager) %}
    <div class="yt-uix-pager" role="navigation">
        {% if pager.prev_link %}
        <a href="{{ pager.prev_link }}" class="yt-uix-button yt-uix-button-default yt-uix-pager-prev yt-uix-pager-button">
            <span class="yt-uix-button-content">« Previous</span>
        </a>
        &nbsp;
        {% endif %}
        {% for page, url in pager.links %}
        <a
            href="{{ url }}"
            class="yt-uix-button yt-uix-button-default yt-uix-pager-page-num yt-uix-pager-button {{ 'yt-uix-button-toggled' if page == pager.current else '' }}"
            data-page="{{ page }}"
            aria-label="Go to page {{ page }}"
        >
            <span class="yt-uix-button-content">{{ page }}</span>
        </a>
        &nbsp;
        {% endfor %}
        {% if pager.next_link %}
        <a href="{{ pager.next_link }}" class="yt-uix-button yt-uix-button-default yt-uix-pager-next yt-uix-pager-button">
            <span class="yt-uix-button-content">Next »</span>
        </a>
        &nbsp;
        {% endif %}
    </div>
{% endmacro %}

{% macro guide_feed_item_video(data) %}
    <div class="feed-item-container yt-uix-expander yt-uix-expander-collapsed">
        <div class="feed-item-outer"><div class="feed-item-main">
            <div class="feed-item-thumb">
                <a class="ux-thumb-wrap contains-addto  yt-uix-sessionlink"
                    href="/watch?v={{ data.video_id }}">
                    <span
                        class="video-thumb ux-thumb yt-thumb-default-106 "><span
                            class="yt-thumb-clip"><span
                                class="yt-thumb-clip-inner"><img
                                    src="//i1.ytimg.com/vi/{{ data.video_id }}/default.jpg"
                                    alt="Thumbnail"
                                    width="106"><span
                                    class="vertical-align"></span></span></span></span>
                    <span class="video-time">{{ data.length_text }}</span>



                    <button onclick=";return false;" title="Watch Later"
                        type="button"
                        class="addto-button video-actions addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip"
                        data-button-menu-id="shared-addto-watch-later-login"
                        data-video-ids="{{ data.video_id }}" role="button"><span
                            class="yt-uix-button-content"> <span
                                class="addto-label">
                                Watch Later
                            </span>
                            <span class="addto-label-error">
                                Error
                            </span>
                            <img
                                src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
                        </span><img class="yt-uix-button-arrow"
                            src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                            alt=""></button>

                </a>


            </div>
            <div class="feed-item-time">
                {{ data.published_text }}
            </div>
            <div class="feed-item-content">
                <h4>
                    <a class="title yt-uix-sessionlink"
                        href="/watch?v={{ data.video_id }}"
                        data-sessionlink="context=G2a2a188FOAAAAAAAAAA"
                        dir="ltr">
                        {{ data.title }}
                    </a>
                </h4>
                <div class="description">
                    <p>{{ data.description }}</p>
                </div>

                <div class="metadata ">
                    <p>
                        <a href="/channel/{{ data.channel_id }}"
                            class="yt-user-name " dir="ltr">{{ data.channel_name }}</a>

                        <span class="bull">&bull;</span>
                        <span class="view-count">
                            {{ data.viewcount_text }}
                        </span>
                    </p>
                </div>

                <div class="feed-item-actions-line ">
                    <span class="feed-item-author"> <a
                            href="/channel/{{ data.channel_id }}"
                            class="yt-user-photo ">
                            <span
                                class="video-thumb ux-thumb yt-thumb-square-18 "><span
                                    class="yt-thumb-clip"><span
                                        class="yt-thumb-clip-inner"><img
                                            src="http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                            alt="{{ data.channel_name }}"
                                            data-thumb="//i1.ytimg.com/i/H-_hzb2ILSCo9ftVSnrCIQ/1.jpg?v=4f457758"
                                            width="18"><span
                                            class="vertical-align"></span></span></span></span>

                        </a>
                    </span>
                    <span class="feed-item-owner"> <a
                            href="/channel/{{ data.channel_id }}"
                            class="yt-user-name " dir="ltr">{{ data.channel_name }}</a>
                    </span>
                    uploaded

                </div>
            </div>
        </div></div>
    </div>
{% endmacro %}

{% macro watch_later_button(data) %}
    <button
        onclick="return false;"
        title="Watch Later"
        type="button"
        class="addto-button video-actions addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip"
        data-button-menu-id="shared-addto-watch-later-login"
        data-video-ids="{{ data.id }}"
        data-feature="thumbnail"
        role="button"
    >
        <img
            class="yt-uix-button-icon yt-uix-button-icon-addto"
            src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
            alt=""
        /><span class="yt-uix-button-content">
            <span class="addto-label">Add to</span>
        </span><img
            class="yt-uix-button-arrow"
            src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
            alt=""
        />
    </button>
{% endmacro %}

{% macro watch_sidebar_item(data) -%}
{% if data.type == "video" -%}
    <li class="video-list-item">
        <a href="{{ data.url }}" class="related-video">
            <span class="ux-thumb-wrap contains-addto">
                <span class="video-thumb ux-thumb ux-thumb-110">
                    <span class="clip"><span class="clip-inner"><img 
                        src="{{ data.thumbnail_url }}" alt="{{ data.title }}" width="120" 
                        /><span class="vertical-align"></span></span>
                    </span>
                </span>
                {%- if data.length_text -%}
                <span class="video-time">{{ data.length_text }}</span>
                {%- endif -%}

                {{ watch_later_button(data) }}
            </span>
            <span dir="ltr" class="title" title="{{ data.title }}">
                {{- data.title -}}
            </span>
            <span class="stat attribution">by <span class="yt-user-name" dir="ltr">
                {{- data.channel_name -}}
            </span></span>
            <span class="stat view-count">{{ data.viewcount_text }}</span>
        </a>
    </li>
{%- elif data.type == "playlist" -%}
    <li class="video-list-item">
        <a href="{{ data.url }}" class="related-playlist">
            <span class="ux-thumb-wrap">
                <span class="video-thumb ux-thumb ux-thumb-110">
                    <span class="clip"><span class="clip-inner"><img 
                        src="{{ data.thumbnail_url }}" alt="{{ data.title }}" width="120" 
                        /><span class="vertical-align"></span></span>
                    </span>
                </span>
                <span class="video-time">{{ data.video_count }}</span>
            </span>
            <span dir="ltr" class="title" title="{{ data.title }}">
                {{- data.title -}}
            </span>
            <span class="stat attribution">by <span class="yt-user-name" dir="ltr">
                {{- data.channel_name -}}
            </span></span>
        </a>
    </li>
{%- endif %}
{%- endmacro %}

{% macro watch_comment(data) %}
    <li class="comment yt-tile-default" data-author-id="{{ data.author_channel_id }}" data-comment-id="{{ data.id }}">
        <div class="comment-body">
            <div class="content-container">
                <div class="content">
                    <div class="comment-text" dir="ltr">
                        <p>{{ data.text }}</p>
                    </div>
                    <p class="metadata">
                        <span class="author ">
                            <a href="{{ data.author_channel_url }}"
                                class="yt-user-name " dir="ltr">{{ data.author_name }}</a>
                        </span>
                        <span class="time">
                            {{- data.published_text -}}
                        </span>
                        {% if data.like_count %}
                        <span class="comments-rating-positive" title="{{ data.like_count }} people liked this">
                            {{ data.like_count }}
                            <img class="comments-rating-thumbs-up" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
                        </span>
                        {% endif %}
                    </p>
                </div>

                <div class="comment-actions">
                    <span class="yt-uix-button-group"><button type="button"
                            class="start comment-action-vote-up comment-action yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty"
                            onclick=";return false;" title="Vote Up"
                            data-action="vote-up"
                            data-tooltip-show-delay="300"
                            role="button"><span
                                class="yt-uix-button-icon-wrapper"><img
                                    class="yt-uix-button-icon yt-uix-button-icon-watch-comment-vote-up"
                                    src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                    alt="Vote Up"><span
                                    class="yt-valign-trick"></span></span></button><button
                            type="button"
                            class="end comment-action-vote-down comment-action yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty"
                            onclick=";return false;" title="Vote Down"
                            data-action="vote-down"
                            data-tooltip-show-delay="300"
                            role="button"><span
                                class="yt-uix-button-icon-wrapper"><img
                                    class="yt-uix-button-icon yt-uix-button-icon-watch-comment-vote-down"
                                    src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                    alt="Vote Down"><span
                                    class="yt-valign-trick"></span></span></button></span><span
                        class="yt-uix-button-group"><button type="button"
                            class="start comment-action yt-uix-button yt-uix-button-default"
                            onclick=";return false;" data-action="reply"
                            role="button"><span
                                class="yt-uix-button-content">Reply
                            </span></button><button type="button"
                            class="end flip yt-uix-button yt-uix-button-default yt-uix-button-empty"
                            onclick=";return false;"
                            data-button-has-sibling-menu="true"
                            role="button" aria-pressed="false"
                            aria-expanded="false" aria-haspopup="true"
                            aria-activedescendant=""><img
                                class="yt-uix-button-arrow"
                                src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                alt="">
                            <div class=" yt-uix-button-menu yt-uix-button-menu-default"
                                style="display: none;">
                                <ul>
                                    <li class="comment-action"
                                        data-action="share"><span
                                            class="yt-uix-button-menu-item">Share</span>
                                    </li>
                                    <li class="comment-action-remove comment-action"
                                        data-action="remove"><span
                                            class="yt-uix-button-menu-item">Remove</span>
                                    </li>
                                    <li class="comment-action"
                                        data-action="flag"><span
                                            class="yt-uix-button-menu-item">Flag
                                            for spam</span></li>
                                    <li class="comment-action-block comment-action"
                                        data-action="block"><span
                                            class="yt-uix-button-menu-item">Block
                                            User</span></li>
                                    <li class="comment-action-unblock comment-action"
                                        data-action="unblock"><span
                                            class="yt-uix-button-menu-item">Unblock
                                            User</span></li>
                                </ul>
                            </div>
                        </button></span>
                </div>
            </div>
        </div>
    </li>
{% endmacro %}

{% macro player_js(player) %}
<!-- Video player init script -->
<script>
yt.setConfig({{ player.config_vars | tojson }});

yt.playerConfig = {{ player.player_config | tojson }};

(function () {
    var forceUpdate = yt.www.watch.player.updateConfig(yt.playerConfig) || false;
    var youTubePlayer = yt.player.embed("watch-player", yt.playerConfig, forceUpdate);
    yt.setConfig({ PLAYER_REFERENCE: youTubePlayer });
})();
</script>
{% endmacro %}