{% extends "2012/_root.html.j2" %}

{% macro guide_item(data) %}
<li class="guide-item-container ">
{% if data.feed_type == 'user' %}
    <a class="guide-item" data-external-id="{{ data.feed_id }}" data-feed-name="{{ data.feed_id }}" data-feed-type="user">
        <span class="thumb"> <span
                class="video-thumb ux-thumb yt-thumb-square-28 "><span
                    class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img
                            src="{{ data.thumbnail_url }}"
                            alt="Thumbnail"
                            width="28"><span
                            class="vertical-align"></span></span></span></span>
        </span>
        <span class="display-name">{{ data.display_name }}</span>
    </a>
{% else %}
    <a class="guide-item" data-feed-name="{{ data.feed_id }}" data-feed-type="{{ data.feed_type }}">
        <span class="thumb">
            <img class="system-icon {{ data.feed_id }} {{ data.feed_id }}"
                src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
        </span>
        <span class="display-name">{{ data.display_name }}</span>
    </a>
{% endif %}
</li>
{% endmacro %}

{% block extra_css %}
<link rel="stylesheet" href="http://s.ytimg.com/yt/cssbin/www-guide-vfl13boML.css">
{% endblock %}

{% block content %}

<div class="guide-layout-container enable-fancy-subscribe-button">

    <div class="guide-container">
        <div id="guide-builder-promo">
            <h2>
                Sign in to add channels to your homepage
            </h2>
            <div id="guide-builder-promo-buttons" class="signed-out">
                <button
                    href="#"
                    type="button" class=" yt-uix-button yt-uix-button-dark"
                    onclick=";window.location.href=this.getAttribute('href');return false;"
                    role="button"><span class="yt-uix-button-content">Sign In </span></button>
                <button href="#"
                    type="button" class=" yt-uix-button yt-uix-button-primary"
                    onclick=";window.location.href=this.getAttribute('href');return false;"
                    role="button"><span class="yt-uix-button-content">Create Account </span></button>
            </div>
        </div>

        <div class="guide">
            <div class="guide-section yt-uix-expander  first ">
                <h3 class="guide-item-container selected-child">
                    <a class="guide-item selected" data-feed-name="youtube" data-feed-type="system">
                        <span class="thumb">
                            <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt=""
                                class="system-icon category">
                        </span>
                        <span class="display-name">
                            From YouTube
                        </span>
                    </a>
                </h3>
                <ul>
                    {% for feed in feeds %}
                    {{- guide_item(feed) -}}
                    {% endfor %}
                </ul>
                <div class="guide-item-container">
                    <span class="guide-item guide-item-action guide-item-fake">
                        <a href="/videos?feature=hp">see all<img
                                src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="see-more-arrow"
                                alt=""></a> </span>
                </div>
            </div>
        </div>
    </div>

    <div class="guide-background"></div>

    <div id="video-sidebar"></div>

    <div id="feed">
        <div id="feed-system-youtube" class="individual-feed" data-loaded="true" data-feed-name="youtube" data-feed-type="system">
            <div class="feed-header no-metadata">
                <div class="feed-header-thumb">
                    <img class="feed-header-icon youtube" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                </div>
                <div class="feed-header-details">
                    <h2>From YouTube</h2>
                </div>
            </div>

            <div class="feed-container" data-filter-type="" data-view-type="">
                <div class="feed-page">
                    
                    {# Feed items go here #}

                </div>
            </div>
        </div>

        <div id="feed-error" class="individual-feed hid">
            <p class="feed-message">
                We were unable to complete the request, please try again later.
            </p>
        </div>

        <div id="feed-loading-template" class="hid">
            <div class="feed-message">
                <p class="loading-spinner">
                    <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                    Loading...
                </p>
            </div>
        </div>

    </div>
    
    <div id="feed-background"></div>

    <div id="footer-ads"></div>
</div>

{% endblock %}