{% import '2012/_macros.html.j2' as macros %}
{% extends "2012/_root.html.j2" %}

{% block title %}{{ data.video.title }} - YouTube{% endblock %}

{% block content %}
<div id="watch-container" itemscope itemtype="http://schema.org/VideoObject">
    <link itemprop="url" href="http://www.youtube.com/watch?v={{ data.video.video_id }}">
    <meta itemprop="name"
        content="{{ data.video.title }}">
    <meta itemprop="description"
        content="{{ data.video.description }}">
    <meta itemprop="duration" content="PT25M13S">
    <meta itemprop="unlisted" content="False">
    <meta itemprop="paid" content="False">
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <link itemprop="url" href="{{ data.video.channel_url }}">
    </span>
    <link itemprop="thumbnailUrl" href="{{ data.video.thumbnail_url }}">
    <span itemprop="thumbnail" itemscope itemtype="http://schema.org/ImageObject">
        <link itemprop="url" href="{{ data.video.thumbnail_url }}">
        <meta itemprop="width" content="320">
        <meta itemprop="height" content="180">
    </span>
    <link itemprop="embedURL" href="http://www.youtube.com/v/{{ data.video.video_id }}?version=3&amp;autohide=1">
    <meta itemprop="playerType" content="Flash">
    <meta itemprop="width" content="1280">
    <meta itemprop="height" content="720">


    <!-- begin watch-headline-container -->
    <div id="watch-headline-container">
        <div id="watch-headline" class="watch-headline">

            <h1 id="watch-headline-title">
                {# <a id="watch-headline-show-title" class="long-title" dir="ltr"
                    href="/show/achievementhunter?s=12">
                    <strong>Achievement Hunter</strong>
                </a>: #}

                <span id="eow-title" class="long-title" dir="ltr"
                    title="{{ data.video.title }}">
                    {{ data.video.title }}
                </span>
            </h1>


            <div id="watch-headline-user-info">

                <span class="yt-uix-button-group">
                    <button
                        href="{{ data.video.channel_url }}"
                        type="button"
                        class="start yt-uix-button yt-uix-button-default"
                        onclick=";window.location.href=this.getAttribute(&#39;href&#39;);return false;"
                        role="button"
                    >
                        <span class="yt-uix-button-content">{{ data.video.channel_name }}</span>
                    </button><div class="yt-subscription-button-hovercard yt-uix-hovercard"
                        data-card-class="watch-subscription-card">
                        <button
                            href="https://accounts.google.com/ServiceLogin?uilel=3&amp;service=youtube&amp;passive=true&amp;continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26nomobiletemp%3D1%26hl%3Den_US%26next%3D%252Fwatch%253Fv%253DHQEC_Y5v3Zw%2526feature%253Dtopics&amp;hl=en_US&amp;ltmpl=sso"
                            type="button"
                            class="yt-subscription-button yt-subscription-button-js-default end yt-uix-button yt-uix-button-default"
                            onclick=";window.location.href=this.getAttribute(&#39;href&#39;);return false;"
                            data-enable-hovercard="true"
                            data-subscription-value="Sl4AzKp6VU2eWg7cfB-MDQ" data-force-position="true"
                            data-position="topright" data-subscription-feature="watch"
                            data-subscription-type="" role="button">
                            <img class="yt-uix-button-icon yt-uix-button-icon-subscribe"
                                src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="" />
                            <span class="yt-uix-button-content">
                                <span class="subscribe-label">Subscribe</span>
                                <span class="subscribed-label">Subscribed</span>
                                <span class="unsubscribe-label">
                                    Unsubscribe
                                </span>
                            </span>
                        </button>
                        <div class="yt-uix-hovercard-content hid">
                            <p class="loading-spinner">
                                <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="" />
                                Loading...
                            </p>
                        </div>
                    </div>
                </span>

                {# <a id="watch-userbanner" rel="author" href="{{ data.video.channel_url }}"
                    title="{{ data.video.channel_name }}">
                    <strong><img
                            src="{{ data.video.channel_thumbnail_url }}"
                            alt="{{ data.video.channel_name }}" height="25"></strong>
                </a>
                <div class="yt-subscription-button-hovercard yt-uix-hovercard"
                    data-card-class="watch-subscription-card"><span
                        class="yt-uix-button-context-light"><button
                            href="#"
                            onclick=";window.location.href=this.getAttribute(&#39;href&#39;);return false;"
                            title="" type="button"
                            class="yt-subscription-button yt-subscription-button-js-default   yt-uix-button yt-uix-button-subscription yt-uix-tooltip"
                            data-enable-hovercard="true"
                            data-subscription-value="zH3iADRIq1IJlIXjfNgTpA" data-force-position="true"
                            data-position="topright" data-subscription-feature="watch"
                            data-subscription-type="" role="button"><span
                                class="yt-uix-button-icon-wrapper"><img
                                    class="yt-uix-button-icon yt-uix-button-icon-subscribe"
                                    src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt=""><span
                                    class="yt-valign-trick"></span></span><span
                                class="yt-uix-button-content"> <span
                                    class="subscribe-label">Subscribe</span>
                                <span class="subscribed-label">Subscribed</span>
                                <span class="unsubscribe-label">Unsubscribe</span>
                            </span></button></span>
                    <div class="yt-uix-hovercard-content hid">
                        <p class="loading-spinner">
                            <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                            Loading...
                        </p>
                    </div>
                </div> #}

                <button
                    onclick="_toggleclass(this,&#39;yt-uix-expander-collapsed&#39;);return false;"
                    type="button"
                    id="watch-mfu-button"
                    class="yt-uix-expander-collapsed yt-uix-button yt-uix-button-default"
                    data-button-toggle="true"
                    data-video-user-id="{{ data.video.channel_id }}"
                    data-video-id="{{ data.video.video_id }}"
                    data-button-action="yt.www.watch.watch5.handleToggleMoreFromUser"
                    role="button"
                >
                    <span class="yt-uix-button-content">Videos</span>
                    <img class="yt-uix-button-arrow" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="" />
                </button>
            </div>

            <div id="watch-more-from-user" class="collapsed">
                <div id="watch-channel-discoverbox" class="yt-rounded">
                    <span id="watch-channel-loading">Loading...</span>
                </div>
            </div>

        </div>

    </div>
    <!-- end watch-headline-container -->
    <div id="watch-video-container">
        <div id="watch-video">
            <script>
                if (window.yt.timing) {
                    yt.timing.tick("bf"); 
                }
            </script>

            <div id="watch-player" class="flash-player">
            </div>

            <div id="watch-video-extra">
            </div>

        </div>
    </div>

    <div id="watch-main-container">
        <div id="watch-main">
            <div id="watch-panel">
                <div class="yt-alert yt-alert-default yt-alert-warn hid " id="flash10-promo-div">
                    <div class="yt-alert-icon"><img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                            class="icon master-sprite" alt="Alert icon"></div>
                    <div class="yt-alert-buttons"> <button type="button"
                            class="close yt-uix-close yt-uix-button yt-uix-button-close"
                            onclick=";return false;" data-close-parent-class="yt-alert"
                            role="button"><span class="yt-uix-button-content">Close
                            </span></button>
                    </div>
                    <div class="yt-alert-content" role="alert"> <span
                            class="yt-alert-vertical-trick"></span>
                        <div class="yt-alert-message">
                            Upgrade to the latest Flash Player for improved playback performance. <a
                                href="http://www.adobe.com/go/getflashplayer/"
                                onmousedown="urchinTracker(&#39;/Events/VideoWatch/GetFlashUpgrade&#39;);">Upgrade
                                now</a> or <a
                                href="//support.google.com/youtube/bin/answer.py?answer=95402">more
                                info</a>.
                        </div>
                    </div>
                </div>



                <div id="watch-actions">
                    <div id="watch-actions-right">
                        <span class="watch-view-count">
                            <strong>{{ data.video.view_count }}</strong>
                        </span>
                        <button onclick=";return false;" title="Show video statistics" type="button"
                            id="watch-insight-button"
                            class="yt-uix-tooltip yt-uix-tooltip-reverse yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty"
                            data-button-action="yt.www.watch.actions.stats" role="button"><span
                                class="yt-uix-button-icon-wrapper"><img
                                    class="yt-uix-button-icon yt-uix-button-icon-watch-insight"
                                    src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                    alt="Show video statistics"><span
                                    class="yt-valign-trick"></span></span></button>
                    </div>

                    <span id="watch-like-unlike" class="yt-uix-button-group "
                        data-button-toggle-group="optional"><button onclick=";return false;"
                            title="I like this" type="button"
                            class="start yt-uix-tooltip-reverse  yt-uix-button yt-uix-button-default yt-uix-tooltip"
                            id="watch-like" data-button-toggle="true"
                            data-button-action="yt.www.watch.actions.like" role="button"><span
                                class="yt-uix-button-icon-wrapper"><img
                                    class="yt-uix-button-icon yt-uix-button-icon-watch-like"
                                    src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                    alt="I like this"><span class="yt-valign-trick"></span></span><span
                                class="yt-uix-button-content">Like
                            </span></button><button onclick=";return false;" title="I dislike this"
                            type="button"
                            class="end yt-uix-tooltip-reverse  yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty"
                            id="watch-unlike" data-button-toggle="true"
                            data-button-action="yt.www.watch.actions.unlike" role="button"><span
                                class="yt-uix-button-icon-wrapper"><img
                                    class="yt-uix-button-icon yt-uix-button-icon-watch-unlike"
                                    src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                    alt="I dislike this"><span
                                    class="yt-valign-trick"></span></span></button></span>


                    <button onclick=";return false;" title="Share or embed this video" type="button"
                        class="yt-uix-tooltip-reverse yt-uix-button yt-uix-button-default yt-uix-tooltip"
                        id="watch-share" data-button-action="yt.www.watch.actions.share"
                        role="button"><span class="yt-uix-button-content">Share </span></button>

                    <button onclick=";return false;" title="Flag as inappropriate" type="button"
                        class="yt-uix-tooltip-reverse  yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty"
                        id="watch-flag" data-button-action="yt.www.watch.actions.flag"
                        role="button"><span class="yt-uix-button-icon-wrapper"><img
                                class="yt-uix-button-icon yt-uix-button-icon-watch-flag"
                                src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                alt="Flag as inappropriate"><span
                                class="yt-valign-trick"></span></span></button>


                    {# <button onclick=";return false;" title="Interactive Transcript" type="button"
                        class="yt-uix-tooltip-reverse yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty"
                        id="watch-transcript"
                        data-button-action="yt.www.watch.captions.onTranscriptButtonClicked"
                        role="button"><span class="yt-uix-button-icon-wrapper"><img
                                class="yt-uix-button-icon yt-uix-button-icon-transcript"
                                src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                alt="Interactive Transcript"><span
                                class="yt-valign-trick"></span></span></button> #}



                </div>

                <div id="watch-actions-area-container" class="hid">
                    <div id="watch-actions-area" class="yt-rounded">
                        <div id="watch-actions-loading" class="watch-actions-panel hid">
                            Loading...
                        </div>
                        <div id="watch-actions-logged-out" class="watch-actions-panel hid">
                            <div class="yt-alert yt-alert-naked yt-alert-warn  ">
                                <div class="yt-alert-icon"><img
                                        src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                        class="icon master-sprite" alt="Alert icon"></div>
                                <div class="yt-alert-content" role="alert"> <span
                                        class="yt-alert-vertical-trick"></span>
                                    <div class="yt-alert-message">
                                        <strong>
                                            <a
                                                href="https://accounts.google.com/ServiceLogin?uilel=3&amp;service=youtube&amp;passive=true&amp;continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26feature%3Dlike%26nomobiletemp%3D1%26hl%3Den_US%26next%3D%252Fwatch%253Fv%253D3E-1UMsb7wM&amp;hl=en_US&amp;ltmpl=sso">Sign
                                                in</a> or <a
                                                href="/signup?next=%2Fwatch%3Fv%3D3E-1UMsb7wM">sign
                                                up</a> now!

                                        </strong>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="watch-actions-error" class="watch-actions-panel hid">
                            <div class="yt-alert yt-alert-naked yt-alert-error  ">
                                <div class="yt-alert-icon"><img
                                        src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                        class="icon master-sprite" alt="Alert icon"></div>
                                <div class="yt-alert-content" role="alert" id="watch-error-string">
                                </div>
                            </div>
                        </div>


                        <div id="watch-actions-addto" class="watch-actions-panel hid"></div>

                        <div id="watch-actions-share" class="watch-actions-panel hid">
                            <div id="watch-actions-share-loading">
                                Loading...
                            </div>
                            <div id="watch-actions-share-panel" class="hid"></div>
                        </div>


                        <div id="watch-actions-captions" class="watch-actions-panel hid">

                            <div id="watch-captions-container">
                                <div id="watch-captions-not-found" class="hid">
                                    There is no Interactive Transcript.
                                </div>

                            </div>
                        </div>




                        <div id="watch-actions-ajax" class="watch-actions-panel hid"></div>

                        <div class="close">
                            <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="close-button"
                                onclick="yt.www.watch.actions.hide();">
                        </div>

                    </div>
                </div>

                <div id="watch-info">
                    <div id="watch-description" class="watch-expander yt-uix-expander yt-uix-expander-collapsed"
                        data-expander-action="yt.www.watch.watch5.handleToggleDescription">
                        <div id="watch-description-clip">
                            <p id="watch-uploader-info">
                                Published on <span id="eow-date" class="watch-video-date">{{ data.video.published_date }}</span> by <a href="{{ data.video.channel_url }}"
                                    class="yt-user-name author" rel="author" dir="ltr">{{ data.video.channel_name }}</a>
                            </p>
                            <div id="watch-description-text">
                                <p id="eow-description">{{ format_string_multiline(data.video.description) }}</p>
                            </div>
                            <div id="watch-description-extras">
                                {# <h4>
                                    Tags:
                                </h4>
                                <ul id="eow-tags" class="watch-info-tag-list">
                                    <li><a
                                            href="/results?search_query=MinecraftLetsPlay8Web&search=tag">MinecraftLetsPlay8Web</a>
                                    </li>
                                    <li><a
                                            href="/results?search_query=achievement&search=tag">achievement</a>
                                    </li>
                                    <li><a href="/results?search_query=hunter&search=tag">hunter</a>
                                    </li>
                                    <li><a href="/results?search_query=funny&search=tag">funny</a></li>
                                    <li><a
                                            href="/results?search_query=minecraft&search=tag">minecraft</a>
                                    </li>
                                    <li><a href="/results?search_query=let%27s&search=tag">let&#39;s</a>
                                    </li>
                                    <li><a href="/results?search_query=play&search=tag">play</a></li>
                                    <li><a href="/results?search_query=gavin&search=tag">gavin</a></li>
                                    <li><a href="/results?search_query=geoff&search=tag">geoff</a></li>
                                    <li><a href="/results?search_query=jack&search=tag">jack</a></li>
                                    <li><a href="/results?search_query=ray&search=tag">ray</a></li>
                                    <li><a href="/results?search_query=michael&search=tag">michael</a>
                                    </li>
                                </ul> #}
                            </div>
                        </div>


                        <ul id="watch-description-extra-info">
                            <li>
                                {% if data.rydratings.deleted %}
                                <div class="watch-sparkbars">
                                    <div class="watch-sparkbar-likes" style="width: 0%">
                                    </div>
                                    <div class="watch-sparkbar-dislikes" style="width: 0%">
                                    </div>
                                </div>

                                <span class="watch-likes-dislikes">
                                    <span class="likes">{{ data.video.like_count }}</span> likes{% if data.video.dislike_count|length %}, <span
                                        class="dislikes">{{ data.video.dislike_count }}</span> dislikes{% endif %}
                                </span>
                                {% else%}
                                <div class="watch-sparkbars">
                                    <div class="watch-sparkbar-likes" style="width: {{ data.rydratings.rating * 20 }}%">
                                    </div>
                                    {% if data.rydratings.dislikes %}
                                    <div class="watch-sparkbar-dislikes" style="width: {{ (5 - data.rydratings.rating) * 20 }}%">
                                    </div>
                                    {% endif %}
                                </div>
                                
                                <span class="watch-likes-dislikes">
                                    {% if data.rydratings.likes %}
                                    <span class="likes">{{ format_number(data.rydratings.likes) }}</span> likes
                                    {%- else -%}
                                    No ratings
                                    {%- endif -%}
                                    {%- if data.rydratings.dislikes %}, <span
                                        class="dislikes">{{ format_number(data.rydratings.dislikes) }}</span> dislikes{% endif %}
                                </span>
                                {% endif %}
                            </li>

                            {%- if data.video.featured_music|length -%}
                            <li class="full-link">
                                <a href="#">
                                    <img class="metadata-icon music-artist"
                                        src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
                                    <span class="metadata-info">
                                        Artist: <span class="link-like">{{ data.video.featured_music[0].artist }}</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <div>
                                    <img class="metadata-icon music-note"
                                        src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
                                    <span class="metadata-info">
                                        Song: <span class="link-like">{{ data.video.featured_music[0].track }}</span>
                                    </span>
                                </div>
                            </li>
                            {%- endif -%}

                            {# <li class="">
                                <a href="/show/achievementhunter?s=12" title="Achievement Hunter">
                                    <img class="metadata-icon"
                                        src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
                                    <span class="metadata-info">
                                        <span class="video-thumb ux-thumb yt-thumb-square-128 "><span
                                                class="yt-thumb-clip"><span
                                                    class="yt-thumb-clip-inner"><img
                                                        src="http://i3.ytimg.com/sh/BuaOa7N7m0g/showposter_thumb.jpg?v=4fbb5b12"
                                                        alt="Thumbnail" width="128"><span
                                                        class="vertical-align"></span></span></span></span>
                                    </span>
                                    <span class="metadata-info link-like" dir="ltr">Achievement
                                        Hunter</span>
                                </a>
                                <span class="metadata-info">
                                    Season 12 Ep. 175
                                </span>

                            </li>

                            <li class="watch-extra-info-long">
                                <span class="watch-movie-rating metadata-info">
                                    <strong>Contains:</strong> L
                                    (<a
                                        href="http://www.google.com/support/youtube/bin/answer.py?answer=146399&amp;hl=en">Learn
                                        more</a>)
                                </span>

                            </li>

                            <li class="watch-extra-info-long">
                                <span class="metadata-info">
                                    <strong>Released:</strong> 07/20/12
                                </span>

                            </li> #}
                        </ul>

                        <div class="horizontal-rule "><span class="first"></span><span
                                class="second"></span><span class="third"></span></div>

                        <div id="watch-description-toggle" class="yt-uix-expander-head">
                            <div id="watch-description-expand" class="expand">
                                <button type="button"
                                    class="metadata-inline yt-uix-button yt-uix-button-text"
                                    onclick=";return false;" role="button"><span
                                        class="yt-uix-button-content">Show more <img
                                            src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                            alt="Show more">
                                    </span></button>
                            </div>
                            <div id="watch-description-collapse" class="collapse">
                                <button type="button"
                                    class="metadata-inline yt-uix-button yt-uix-button-text"
                                    onclick=";return false;" role="button"><span
                                        class="yt-uix-button-content">Show less <img
                                            src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                            alt="Show less">
                                    </span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="watch-discussion">
                    <div id="comments-view" data-type="everything" class="">
                        <div id="comment-share-area" class="comment-share-area yt-rounded hid">
                            <div class="comment-share-content">
                                <h4>Link to this comment:</h4>
                                <div>
                                    <input type="text" class="comment-share-url yt-uix-form-input-text">
                                </div>
                                <div>
                                    <span>Share to:</span>
                                    <img alt="" title="Facebook"
                                        src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                        class="icon-comment-share icon-comment-share-facebook"
                                        action="yt.window.popup(&#39;http:\/\/www.facebook.com\/sharer.php?u=http%3A%2F%2Fwww.youtube.com%2Fcomment%3Flc%3D_COMMENT_ID_&amp;t=_COMMENT_TEXT_&#39;, {height:440, width:620, scrollbars:true});">
                                    <img alt="" title="Twitter"
                                        src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                        class="icon-comment-share icon-comment-share-twitter"
                                        action="yt.window.popup(&#39;http:\/\/twitter.com\/share?url=http%3A%2F%2Fwww.youtube.com%2Fcomment%3Flc%3D_COMMENT_ID_&amp;text=_COMMENT_TEXT_%3A&amp;via=youtube&#39;, {height:650, width:1024, scrollbars:true});">
                                    <img alt="" title="Google+"
                                        src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                        class="icon-comment-share icon-comment-share-googleplus"
                                        action="yt.window.popup(&#39;https:\/\/plus.google.com\/share?url=http%3A%2F%2Fwww.youtube.com%2Fcomment%3Flc%3D_COMMENT_ID_&amp;authuser=None&amp;source=yt&#39;, {height:440, width:620, scrollbars:true});">
                                </div>
                            </div>
                            <div class="close comment-action" data-action="close-share">
                                <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                    class="close-button">
                            </div>
                        </div>

                        <div class="comments-section ">
                            <div id="comments-header-container">
                                <div id="comments-header">
                                    <a class="comments-section-see-all" href="/all_comments?v={{ data.video_id }}">
                                        see all
                                    </a>
                                    <h4>
                                        All Comments
                                        <span class="comments-section-stat">({{ data.video.comments_count_text }})</span>
                                    </h4>
                                </div>
                            </div>

                            <div class="comments-post-container clearfix">
                                <div class="comments-post-alert">
                                    <a href="#">Sign In</a> or <a href="#">Sign Up</a>
                                    <span class="comments-post-form-rollover-text"> now to post a comment!</span>
                                </div>
                            </div>

                            <ul class="comment-list">
                                {% for comment in data.comments[:10] %}
                                    {{- macros.watch_comment(comment) -}}
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="comments-section">
                            <div class="comments-pagination" data-ajax-enabled="true">
                                {{ macros.create_pager(comments_pager) }}
                            </div>
                        </div>

                        <ul>
                            <li class="hid" id="parent-comment-loading"> Loading comment...</li>
                        </ul>

                        <div id="comments-loading" class="hid">Loading...</div>
                    </div>
                </div>
            </div>

            <div id="watch-sidebar">

                {#
                <div id="watch-context-container" class="watch-sidebar-section">
                    <div class="watch-sidebar-body">
                        <div id="watch-context">
                            <h4 class="context-head">
                                <a class="context-link"
                                    href="/show/achievementhunter?feature=context-shows&amp;s=12">
                                    <span class="context-image"> <span
                                            class="video-thumb ux-thumb yt-thumb-square-34 "><span
                                                class="yt-thumb-clip"><span
                                                    class="yt-thumb-clip-inner"><img
                                                        src="http://i3.ytimg.com/sh/BuaOa7N7m0g/showposter.jpg?v=4fbb5b12"
                                                        alt="Thumbnail" width="34"><span
                                                        class="vertical-align"></span></span></span></span>
                                    </span>
                                    <strong class="context-title" dir="ltr">More from Achievement
                                        Hunter</strong>
                                    <span class="context-subtitle">12 Seasons</span>
                                </a>
                                <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                    class="context-seeall-icon" alt="">
                            </h4>
                            <div class="yt-horizontal-rule "><span class="first"></span><span
                                    class="second"></span><span class="third"></span></div>

                            <div id="watch-context-body" class="context-body">
                                <h3>Season 12</h3>
                                <ul id="watch-context-item-list" class="video-list">
                                    <li class="video-list-item">
                                        <div class="context-item-label">
                                            NEXT: Episode 176
                                        </div>
                                        <a href="/watch?v=ijuupiAA0aE&amp;feature=context-shows&amp;list=SL"
                                            class="related-video  yt-uix-sessionlink"
                                            data-sessionlink="ei=CJTeteXMubECFUIYRAod2yO7Vg%3D%3D&amp;feature=context-shows"><span
                                                class="ux-thumb-wrap contains-addto "><span
                                                    class="video-thumb ux-thumb yt-thumb-default-120 "><span
                                                        class="yt-thumb-clip"><span
                                                            class="yt-thumb-clip-inner"><img
                                                                src="http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                                                alt="Tony Hawk&#39;s Pro Skater HD - The Best, Around"
                                                                data-thumb="//i2.ytimg.com/vi/ijuupiAA0aE/default.jpg"
                                                                width="120"><span
                                                                class="vertical-align"></span></span></span></span><span
                                                    class="video-time">1:30</span>


                                                <button onclick=";return false;" title="Watch Later"
                                                    type="button"
                                                    class="addto-button video-actions addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip"
                                                    data-button-menu-id="shared-addto-watch-later-login"
                                                    data-video-ids="ijuupiAA0aE" role="button"><span
                                                        class="yt-uix-button-content"> <span
                                                            class="addto-label">
                                                            Watch Later
                                                        </span>
                                                        <span class="addto-label-error">
                                                            Error
                                                        </span>
                                                        <img
                                                            src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
                                                    </span><img class="yt-uix-button-arrow"
                                                        src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                                        alt=""></button>
                                            </span><span dir="ltr" class="title"
                                                title="Tony Hawk&#39;s Pro Skater HD - The Best, Around">Tony
                                                Hawk&#39;s Pro Skater HD -
                                                The Best, Around</span><span class="stat attribution">by
                                                <span class="yt-user-name "
                                                    dir="ltr">RoosterTeeth</span></span><span
                                                class="stat view-count">90,609
                                                views</span></a>
                                    </li>
                                    <li class="video-list-item">
                                        <div class="context-item-label">
                                            Episode 177
                                        </div>
                                        <a href="/watch?v=2LXeKASwP0A&amp;feature=context-shows&amp;list=SL"
                                            class="related-video  yt-uix-sessionlink"
                                            data-sessionlink="ei=CJTeteXMubECFUIYRAod2yO7Vg%3D%3D&amp;feature=context-shows"><span
                                                class="ux-thumb-wrap contains-addto "><span
                                                    class="video-thumb ux-thumb yt-thumb-default-120 "><span
                                                        class="yt-thumb-clip"><span
                                                            class="yt-thumb-clip-inner"><img
                                                                src="http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                                                alt="Call Of Duty: Modern Warfare 3 - Terminal Teddy Bear"
                                                                data-thumb="//i3.ytimg.com/vi/2LXeKASwP0A/default.jpg"
                                                                width="120"><span
                                                                class="vertical-align"></span></span></span></span><span
                                                    class="video-time">1:40</span>


                                                <button onclick=";return false;" title="Watch Later"
                                                    type="button"
                                                    class="addto-button video-actions addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip"
                                                    data-button-menu-id="shared-addto-watch-later-login"
                                                    data-video-ids="2LXeKASwP0A" role="button"><span
                                                        class="yt-uix-button-content"> <span
                                                            class="addto-label">
                                                            Watch Later
                                                        </span>
                                                        <span class="addto-label-error">
                                                            Error
                                                        </span>
                                                        <img
                                                            src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
                                                    </span><img class="yt-uix-button-arrow"
                                                        src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                                        alt=""></button>
                                            </span><span dir="ltr" class="title"
                                                title="Call Of Duty: Modern Warfare 3 - Terminal Teddy Bear">Call
                                                Of Duty: Modern
                                                Warfare 3 - Terminal Teddy Bear</span><span
                                                class="stat attribution">by <span class="yt-user-name "
                                                    dir="ltr">RoosterTeeth</span></span><span
                                                class="stat view-count">175,890 views</span></a>
                                    </li>
                                </ul>
                                <div class="context-foot">
                                    <a href="/show/achievementhunter?feature=context-season&amp;s=12">View
                                        all of Season 12</a>
                                    <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"
                                        class="context-seeall-icon" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="watch-channel-brand-div" style="display: none;" class="watch-sidebar-section">
                    <div id="ad300x250" class="alignR"></div>
                    <div id="google_companion_ad_div" class="alignR"></div>
                    <div style="padding-top: 3px; display:none;">
                        Advertisement
                    </div>
                </div>
                #}

                <div class="watch-sidebar-section">
                    {# <h4 class="watch-sidebar-head">Suggestions</h4>
                    <div class="yt-horizontal-rule "><span class="first"></span><span
                            class="second"></span><span class="third"></span></div> #}
                    <div id="watch-related-container" class="watch-sidebar-body">
                        <ul id="watch-related" class="video-list">
                            <div id="ppv-container" class="hid"></div>
                            {% for item in data.related %}
                                {{ macros.watch_sidebar_item(item) }}
                            {% endfor %}
                        </ul>
                        <ul id="watch-more-related" class="video-list hid">
                            <li id="watch-more-related-loading">Loading more suggestions...</li>
                        </ul>
                    </div>
                    <div class="watch-sidebar-foot">
                        <p class="content"><button type="button" id="watch-more-related-button"
                                onclick=";return false;" class=" yt-uix-button yt-uix-button-default"
                                data-button-action="yt.www.watch.watch5.handleLoadMoreRelated"
                                role="button"><span class="yt-uix-button-content">Load more suggestions
                                </span></button></p>
                    </div>
                </div>

                <span class="vertical-rule-main"></span>
                <span class="vertical-rule-corner-top"></span>
                <span class="vertical-rule-corner-bottom"></span>

            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- end watch-main-container -->
</div>
{% endblock %}

{% block body_js %}
{{ macros.player_js(player) }}
{{ super() }}
{% endblock %}