{% import '2012/_macros.html.j2' as macros %}
{% extends "2012/channel/_twopane.html.j2" %}

{% block extra_css %}{{ super() }}
<style>
.single-playlist .video .video-item-content {
    padding: 15px;
    width: 400px;
}
.ux-thumb-200 {
    width: 200px !important;
    height: 112px !important;
}
.ux-thumb-200 img {
    max-width: 200px !important;
}
</style>
{% endblock %}

{% block primary_pane %}

    {% if featured_video %}
    <div class="channels-featured-video channel-module has-visible-edge">
        <div class="module-view">
            <div class="channels-video-player player-root">
                <div id="watch-player"></div>
            </div>

            <div class="channels-featured-video-details tile">
                <h3 class="title">
                    <a href="{{ featured_video.url }}" title="{{ featured_video.title }}">
                        {{ featured_video.title }}
                    </a>
                    <span title="Views">{{ featured_video.view_count }}</span>
                </h3>
                <p class="channels-featured-video-metadata">
                    <span>{{ format_string_limit_words(featured_video.description, 20) }}</span>
                    {# <span class="created-date">5 days ago</span> #}
                </p>
            </div>
        </div>
    </div>
    {% endif %}

    {% if videos_feed %}
    <div class="single-playlist channel-module yt-uix-c3-module-container" style="overflow: visible;">
    <div class="module-view single-playlist-view-module">
        <div class="blogger-playall">
            <a class="yt-playall-link yt-playall-link-default" href="#">
                <img class="small-arrow" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                Play all
            </a>
        </div>

        <div class="playlist-info">
            <h2>{{ videos_feed.title }}</h2>
            {# <span class="blogger-video-count">1-10 of 266</span> #}
            <div class="horizontal-rule "><span class="first"></span><span class="second"></span><span class="third"></span></div>
        </div>
    
        <ul class="gh-single-playlist">
        {% for item in videos_feed['items'][:10] %}
            <li class="blogger-video">
                <span class="video tile">
                    <a href="{{ item.url }}"
                        class="tile-link-block">
                        <span class="ux-thumb-wrap contains-addto">
                            <span class="video-thumb ux-thumb ux-thumb-200">
                                <span class="clip">
                                    <span class="clip-inner">
                                        <img src="{{ video_thumbnail_url(item.id, True) }}" alt="Thumbnail" />
                                        <span class="vertical-align"></span>
                                    </span>
                                </span>
                            </span>
                            <span class="video-time">{{ item.length_text }}</span>
                            {{ macros.watch_later_button(item) }}
                        </span>
                        <span class="video-item-content">
                            <span class="video-overview">
                                <span class="title video-title" title="{{ item.title }}">{{ item.title }}</span>
                            </span>
                            <span class="video-details">
                                {% if item.channel_name -%}
                                <span class="video-owner">{{ item.channel_name }}</span>
                                {%- endif %}
                                <span class="video-view-count">{{ item.viewcount_text }}</span>
                                <span class="video-time-published">{{ item.published_text }}</span>
                                <span class="video-item-description">{{ item.description }}</span>
                            </span>
                        </span>
                    </a>
                </span>
            </li>
        {% endfor %}
        </ul>
    </div>
    </div>
    {% endif%}

{% endblock %}

{% block secondary_pane_extra -%}

{%- endblock %}

{% block body_js -%}

{% if featured_video and featured_player -%}
{{ macros.player_js(featured_player) }}
{%- endif %}

{{ super() }}

{%- endblock %}