{%- autoescape true -%}
<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom"
      xmlns:media="http://search.yahoo.com/mrss/"
      xmlns:openSearch="http://a9.com/-/spec/opensearchrss/1.0/"
      xmlns:gd="http://schemas.google.com/g/2005"
      xmlns:yt="http://gdata.youtube.com/schemas/2007">
  <id>{{ base_url }}/feeds/api/videos</id>
  <updated>{{ updated }}</updated>
  <category scheme="http://schemas.google.com/g/2005#kind"
            term="http://gdata.youtube.com/schemas/2007#video"/>
  <title type="text">YouTube Videos matching: {{ search_query }}</title>
  <logo>http://www.youtube.com/img/pic_youtubelogo_123x63.gif</logo>
  <link rel="self" type="application/atom+xml" href="{{ self_url }}"/>
  <link rel="alternate" type="text/html"
        href="{{ base_url }}/results?search_query={{ search_query | urlencode }}"/>
  {%- if next_url %}
  <link rel="next" type="application/atom+xml" href="{{ next_url }}"/>
  {%- endif %}
  <author>
    <name>YouTube</name>
    <uri>http://www.youtube.com/</uri>
  </author>
  <generator version="1.0" uri="http://gdata.youtube.com/">YouTube data API</generator>
  <openSearch:totalResults>{{ total_results }}</openSearch:totalResults>
  <openSearch:startIndex>{{ start_index }}</openSearch:startIndex>
  <openSearch:itemsPerPage>{{ max_results }}</openSearch:itemsPerPage>
  {%- for video in videos %}
  <entry>
    <id>{{ base_url }}/feeds/api/videos/{{ video.id }}</id>
    <youTubeId id="{{ video.id }}">{{ video.id }}</youTubeId>
    <published>{{ video.published }}</published>
    <updated>{{ updated }}</updated>
    <category scheme="http://schemas.google.com/g/2005#kind"
              term="http://gdata.youtube.com/schemas/2007#video"/>
    <title type="text">{{ video.title }}</title>
    <content type="text">{{ video.description }}</content>
    <link rel="alternate" type="text/html"
          href="{{ base_url }}/watch?v={{ video.id }}"/>
    <link rel="self" type="application/atom+xml"
          href="{{ base_url }}/feeds/api/videos/{{ video.id }}"/>
    <author>
      <name>{{ video.channel_name }}</name>
      <uri>{{ base_url }}/feeds/api/users/{{ video.channel_handle }}</uri>
      <yt:userId>{{ video.channel_id }}</yt:userId>
    </author>
    <media:group>
      <media:title type="plain">{{ video.title }}</media:title>
      <media:description type="plain">{{ video.description }}</media:description>
      <media:player url="{{ base_url }}/watch?v={{ video.id }}"/>
      <media:content url="{{ base_url }}/get_video?v={{ video.id }}&amp;q=medium"
                     type="video/mp4" medium="video" expression="full"
                     duration="{{ video.duration_seconds }}" yt:format="18"/>
      <media:thumbnail url="{{ http_url(video.thumbnail_url) }}"
                       height="360" width="480" time="00:00:00.000"/>
      <yt:duration seconds="{{ video.duration_seconds }}"/>
      <yt:videoid id="{{ video.id }}">{{ video.id }}</yt:videoid>
    </media:group>
    <gd:rating average="5" max="5" min="1" numRaters="0"
               rel="http://schemas.google.com/g/2005#overall"/>
    <yt:statistics favoriteCount="0" viewCount="{{ video.view_count }}"/>
  </entry>
  {%- endfor %}
</feed>
{%- endautoescape %}
